/* FOR MOBILE SCREENS */

:root {
  font-size: 16px;
  --bgColor: #000;
  --onBg: #ffffff;

  --sizeXs: 0.5rem;
  --sizeSm: calc(var(--sizeXs) * 1.5);
  --sizeMd: calc(var(--sizeSm) * 1.5);
  --sizeLg: calc(var(--sizeMd) * 1.5);
  --sizeXl: calc(var(--sizeLg) * 1.5);
  --sizeXXl: calc(var(--sizeXl) * 1.5);
}

/* CSS Reset for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  background: var(--onBg);
  color: var(--bgColor);
  align-items: center;
  background-image: url("");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100svw;
}

.app > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: var(--sizeXXl) auto;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
/* Login styles */

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.loginForm input {
  text-align: center;
  border-bottom: 1px solid black;
}

.loginForm > * {
}

.loginButton {
  padding: 0.5rem 1.5rem;
}

/* Data Examples */

.dataExamplesLogin {
  display: grid;
  grid-template-columns: auto;
  grid-gap: var(--sizeLg);
}

.dataExamplesData {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  align-content: center;
  gap: 0.1rem;
}
.dataExamplesData > p {
  border: 1px solid black;
  font-size: var(--sizeSm);
  padding: 1rem;
}

/* FOR DESKTOP SCREENS */

@media screen and (min-width: 601px) {
  /* General style*/

  * {
    max-width: 100%;
  }

  /* Body style*/

  .app {
    gap: 2rem;
    margin: var(--sizeXXl) auto;
  }

  /* Header style*/

  /* Login styles */

  .login {
    gap: 2rem;
  }
}
