@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Glass+Antiqua&family=Merienda:wght@300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* FOR MOBILE SCREENS */

:root {
  font-size: 16px;
  --bgColor: #000;
  --onBg: #ffffff;

  --sizeXs: 0.5rem;
  --sizeSm: calc(var(--sizeXs) * 1.5);
  --sizeMd: calc(var(--sizeSm) * 1.5);
  --sizeLg: calc(var(--sizeMd) * 1.5);
  --sizeXl: calc(var(--sizeLg) * 1.5);
  --sizeXXl: calc(var(--sizeXl) * 1.5);
}

/* CSS Reset for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: apple-system, Ubuntu, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  background: var(--onBg);
  color: var(--bgColor);
  align-items: center;
  background-image: url("");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100svw;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.app > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: var(--sizeXXl) auto;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
/* Login styles */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  font-size: var(--sizeMd);
  gap: 1rem;
}

.loginForm input {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.loginButton {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(56, 207, 191, 1) 0%,
    rgba(10, 70, 147, 1) 90.2%
  );
  font-weight: 700;
  font-size: var(--sizeMd);
}

.loginButton:hover {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  );
  color: white;
}

.errorMessage {
  background-color: white;
  padding: 1rem 2rem;
  width: 70%;
  border-radius: 2rem;
  font-weight: 700;
  /* font-family: "Satisfy", cursive; */
}
/* Data Examples */

.dataExamplesLogin {
  display: grid;
  grid-template-columns: auto;
  grid-gap: var(--sizeLg);
}

.dataExamplesData {
  display: grid;
  grid-template-columns: repeat(1, auto auto);
  text-align: left;
  align-content: center;
  align-items: stretch;
  gap: 2rem;
}

.dataExamplesData img {
  height: var(--sizeMd);
}

.dataExamplesData > p {
  border: 1px solid black;
  font-size: var(--sizeSm);
  padding: 1rem;
  border-radius: 2rem;
}

/* FOR DESKTOP SCREENS */

@media screen and (min-width: 601px) {
  /* General style*/

  * {
    max-width: 100%;
  }

  /* Body style*/

  .app {
    gap: 2rem;
    margin: var(--sizeXXl) auto;
  }

  /* Header style*/

  /* Login styles */

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    gap: 0.5rem;
  }

  .loginForm input {
    text-align: center;
    border-bottom: 1px solid black;
  }

  .loginButton {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(56, 207, 191, 1) 0%,
      rgba(10, 70, 147, 1) 90.2%
    );
    font-weight: 700;
    font-size: var(--sizeMd);
  }

  .loginButton:hover {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(100, 43, 115, 1) 0%,
      rgba(4, 0, 4, 1) 90%
    );
    color: white;
  }

  .errorMessage {
    background-color: white;
    padding: 1rem 2rem;
    width: 60%;
    border-radius: 2rem;
    font-weight: 700;
    /* font-family: "Satisfy", cursive; */
  }
  /* Data Examples */

  .dataExamplesLogin {
    display: grid;
    grid-template-columns: auto;
    grid-gap: var(--sizeLg);
  }

  .dataExamplesData {
    display: grid;
    grid-template-columns: repeat(2, auto auto);
    text-align: left;
    align-content: center;
    align-items: stretch;
    gap: 2rem;
  }

  .dataExamplesData img {
    height: var(--sizeMd);
  }
}
